.portfolio {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

.title {
    font-size: 1.5em;
    padding-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}

.itemPortfolio {
    padding-bottom: 30px;
    text-align: justify;
    hyphens: auto;
}

.imgPortfolio {
    width: 250px;
    height: 143px;
    padding-bottom: 0;
    border-radius: 8px;
}

.portfolioItemFlex {
    max-width: 250px;
}

@media all and (min-width: 450px) {

    img.imgPortfolio {
        width: 335px;
        height: 192px;
    }

    .portfolioItemFlex {
        flex: 1;
        max-width: 335px;
    }
}


@media all and (min-width: 900px) {

    img.imgPortfolio {
        width: 335px;
        height: 192px;
    }
    
    .portfolioFlex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .portfolioItemFlex {
        display: block;
    }
    
    .portfolioItemFlex {
        max-width: 400px;
    }
  
}

@media all and (min-width: 1400px) {

    .portfolioFlex {
        display: block;
    }
    
    .groupPortfolio {
        display: flex;
        flex-direction: row;
    }

    .itemPortfolio {
        max-width: 335px;
        padding: 0 40px 0 40px;
    }
}