@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.header {
    background-color: #140a00d2;
    color: #c8c8c8;
    width: 100%;
    padding: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0px;
}

.itemHeader {
    margin: auto;
}

h1 {
    font-size: 72px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Nanum Pen Script', cursive;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin-right: 25px;
}
  
.menu li a {
    color: #c8c8c8;
    text-decoration: none;
    font-size: 15px;
    padding: 0 10px 0 0;
}
  
.menu li a:hover {
    text-decoration: underline;
}

@media all and (min-width: 800px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0 0px 0;
    }

    .itemHeader {
        margin: 0;
    }

    h1 {
        font-size: 90px;
    }

    .menu {
        justify-content: flex-end;
        margin: 0;
    }

    .menu li a {
        font-size: 18px;
        padding: 0 20px 0 0;
    }
}