.App {
  background-color: #e7e6e4;
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 100;
  color: #140a00d2;
}

img.profilePictures {
  border-radius: 8px;
  width: 60%;
  height: auto;
  display: block;
  margin: auto;
}

.aboutBackground {
  background-color: #a3a2a0;
}

@media all and (min-width: 750px) {
  img.profilePictures {
    width: 80%;
  }
}

@media all and (min-width: 900px) {
  img.profilePictures {
    width: 70%;
  }

  /* .mainComponents {
    font-size: 1.1em;
  } */
}

@media all and (min-width: 1300px) {
  img.profilePictures {
    width: 80%;
  }
}